<!DOCTYPE html>
<html lang="en-UK">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../style/HomePageCSS.css">
	<link rel="stylesheet" href="../style/cards.css">
	<title>Women</title>
</head>
<body>
	<header>
		<div  class="flex-container1" id="logo_div">
			<img class="logo-transition" id="logo" src="../logo.png"> 
		</div>
	</header>

	<nav>
		<div class="flex-container2"  id="nav_div">		
			<a href = "../HomePage.html" class="Link_Button"><button class="dropbtn">Men</button></a>
			<a href = "#" class="Link_Button"><button class="dropbtn" >Women</button></a>
  			<a href = "./unisex.html" class="Link_Button"><button class="dropbtn" >Unisex</button></a>
  			<a href = "#" class="Link_Button"><button class="dropbtn" >Sale</button></a>
  			<a href = "#" class="Link_Button"><button class="dropbtn" >Gift Sets</button></a>
  		</div>
	</nav>
	
	<div class="cards-wrapper">

		<div class="card-outline">
			<div class="card">
				<img src="../assets/women/Picture1.jpg" alt="Product Image">
				<div class="card-info">
					<h2>La Belle Rose Étoilée</h2>
					<p>(The Beautiful Starry Rose): A floral fragrance with a hint of sweetness, similar to Lancôme La Vie Est Belle. </p>
					<div class="tags women">
						<div class="tag">Woman</div>
						<div class="tag">Summer</div>
						<div class="tag">Yellow</div>
						<div class="tag">250ml</div>
					</div>
				</div>
				<p class="price women">29.99£</p>
			</div>
		</div>

		<div class="card-outline">
			<div class="card">
				<img src="../assets/women/Picture2.jpg" alt="Product Image">
				<div class="card-info">
					<h2>L'Amour Infini</h2>
					<p>(Infinite Love): A romantic scent with fruity and floral notes, evoking the allure of Chanel Coco Mademoiselle. </p>
					<div class="tags women">
						<div class="tag">Woman</div>
						<div class="tag">Winter</div>
						<div class="tag">Brown</div>
						<div class="tag">150ml</div>
					</div>
				</div>
				<p class="price women">29.99£</p>
			</div>
		</div>

		<div class="card-outline">
			<div class="card">
				<img src="../assets/women/Picture3.jpg" alt="Product Image">
				<div class="card-info">
					<h2>La Douce Séduction</h2>
					<p>(The Sweet Seduction): A warm and sensual fragrance with vanilla and musk, akin to Yves Saint Laurent Black Opium.</p>
					<div class="tags women">
						<div class="tag">Woman</div>
						<div class="tag">Winter</div>
						<div class="tag">Pink</div>
						<div class="tag">150ml</div>
					</div>
				</div>
				<p class="price women">19.99£</p>
			</div>
		</div>

		<div class="card-outline">
			<div class="card">
				<img src="../assets/women/Picture4.jpg" alt="Product Image">
				<div class="card-info">
					<h2>La Fleur Mystique</h2>
					<p>(The Mystical Flower): A captivating blend of exotic blooms and spices, reminiscent of Gucci Bloom.</p>
					<div class="tags women">
						<div class="tag">Woman</div>
						<div class="tag">Summer</div>
						<div class="tag">Pink</div>
						<div class="tag">150ml</div>
					</div>
				</div>
				<p class="price women">25.99£</p>
			</div>
		</div>

		<div class="card-outline">
			<div class="card">
				<img src="../assets/women/Picture5.jpg" alt="Product Image">
				<div class="card-info">
					<h2>L'Étoile Brillante</h2>
					<p>(The Shining Star): A sparkling and vibrant fragrance with a touch of citrus, similar to Dolce & Gabbana Light Blue.</p>
					<div class="tags women">
						<div class="tag">Woman</div>
						<div class="tag">Summer</div>
						<div class="tag">Gold</div>
						<div class="tag">200ml</div>
					</div>
				</div>
				<p class="price women">39.99£</p>
			</div>
		</div>

	</div>

	<script>
	window.onscroll = function() {scrollFunction()};

	function scrollFunction() {
	  if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
	    document.getElementById("logo_div").style.padding ="10px 5px";
	    document.getElementById("nav_div").style.padding ="0px 0px";
	    document.getElementById("logo").style.width ="0%";
	    document.getElementById("logo").style.height ="0%";



	  } else {
	    document.getElementById("logo_div").style.padding = "50px 10px";
	    document.getElementById("nav_div").style.padding ="1%";
	    document.getElementById("logo").style.width ="200px";
	    document.getElementById("logo").style.height ="200px";
	  }
	}
	</script>
	<script>
		var slideIndex = 1;
		S_Slide(slideIndex);

		function nextSlides(n) {
		  S_Slide(slideIndex += n);
		}

		function C_Slide(n) {
		  S_Slide(slideIndex = n);
		}

		function S_Slide(n) {
		  var i;
		  var slides = document.getElementsByClassName("Slide");
		  
		  if (n > slides.length) {
		  slideIndex = 1
		  }    
		  if (n < 1) {
		  slideIndex = slides.length
		  }
		  for (i = 0; i < slides.length; i++) {
		      slides[i].style.display = "none";  
		  }

		  slides[slideIndex-1].style.display = "block"; 
		  setTimeout(showSlides, 2000); 
		}

	</script>


</body>
</html> 